*{
    background-color: #FDF5E6;
}


.heading{
    font-family: 'Courier New', Courier, monospace;
    
    
}

.main.heading{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}



